<div class="alert-fixed" id="alert_msg">
  <c:if test="${flash_msg != null}">
    <div class="alert alert-<c:out value='${flash_msg_type}'/> alert-dismissible fade show" role="alert">
      <c:out value="${flash_msg}" />
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </c:if>
</div>


<header class="d-flex justify-content-center py-3 bg-white">
  <ul class="nav nav-pills">

      <%--   Visitor Log in / Sign up  --%>
      <li class="nav-item"><a href="/login" class="nav-link <c:out value="${nav.get('login')}"/>">Log In</a></li>
      <%--   Home Page   --%>
      <li class="nav-item"><a href="/" class="nav-link <c:out value="${nav.get('home')}"/>">Home</a></li>
      <%--   Meeting Page   --%>
      <li class="nav-item dropdown <c:out value="${nav.get('meeting')}"/>">
        <a class="nav-link dropdown-toggle <c:out value="${nav.get('meeting')}"/>" href="#" data-bs-toggle="dropdown" aria-expanded="false">Contact Us</a>
        <ul class="dropdown-menu">
          <li><a href="/meeting/all" class="dropdown-item <c:out value="${nav.get('meeting_all')}"/>">All Meetings</a></li>
          <li><a href="/meeting/record/all" class="dropdown-item <c:out value="${nav.get('meeting_records_all')}"/>">All Meeting Records</a></li>
          <c:if test="${'active'.equals(nav.get('meeting_record_detail'))}">
            <li><hr class="dropdown-divider"></li>
            <li><a href="#" class="dropdown-item active">Meeting Record Detail</a></li>
          </c:if>
        </ul>
      </li>
      <%--   Account   --%>
      <li class="nav-item dropdown <c:out value="${nav.get('account')}"/>">
        <a class="nav-link dropdown-toggle <c:out value="${nav.get('account')}"/>" href="#" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item <c:out value="${nav.get('profile')}"/>" href="/profile">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item <c:out value="${nav.get('logout')}"/>" href="/logout">Log Out</a></li>
        </ul>
      </li>


  </ul>
</header>
